@model BookListViewModel
@{
    ViewBag.Title = "Boeken";
}
@if (TempData["Message"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["Message"]
    </div>
}
<ul class="pagination">
    @for (int i = 1; i < Model.TotalPages + 1; i++)
    {
        <li class="page-item @(i==Model.CurrentPage?"active":"")"><a class="page-link" asp-action="Index" asp-route-page="@i" asp-route-sort="@Model.Sortfield" asp-route-sortDirection="@Model.SortDirection">@i</a></li>
        ;
    }
</ul>
<table class="table">
    <thead>
        <tr class="text-primary">
            <th scope="col"><a asp-action="Index" asp-route-sort="ISBN">ISBN</a> </th>
            <th scope="col"><a asp-action="Index" asp-route-sort="Title">Titel</a> </th>
            <th scope="col"><a asp-action="Index" asp-route-sort="Author">Auteur</a> </th>
            <th scope="col"><a asp-action="Index" asp-route-sort="PublicationYear">Publicatiejaar</a> </th>
            <th scope="col"><a asp-action="Index" asp-route-sort="Type">Type</a> </th>
            <th>
                <form method="get" asp-action="Index">
                    <input asp-for="Sortfield" name="sort" hidden />
                    <select asp-for="SortDirection" asp-items="Html.GetEnumSelectList<SortDirection>()" name="sortDirection"></select>
                    <button type="submit" asp-route-sort="@Model.Sortfield">Change</button>
                </form>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Book book in Model.Books)
        {
            <tr style="height:200px">
                <td>@book.ISBN</td>
                <td>@book.Title</td>
                <td>@book.Author</td>
                <td>@book.PublicationYear</td>
                <td>@Html.DisplayFor(m => book.Type)</td>
                <td>
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-modal-@book.Id">
                        <i class="fas fa-trash"></i>
                    </button>
                    <a asp-action="Update" asp-controller="Book" asp-route-id="@book.Id" role="button" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <a asp-action="Add" asp-controller="Favorites" asp-route-id="@book.Id" role="button" class="btn btn-secondary" ><i class="fas fa-star"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
@foreach (Book book in Model.Books)
{
    <div class="modal fade" id="delete-modal-@book.Id" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@book.Title verwijderen?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Ben je zeker dat je @book.Title wil verwijderen?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a asp-controller="Book" asp-action="Delete" asp-route-id="@book.Id" role="button" class="btn btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
}
<a asp-controller="Book" asp-action="Create" role="button" class="btn btn-labeled btn-primary">Maak een nieuw boek</a>
<a asp-controller="Favorites" asp-action="Index" role="button" class="btn btn-labeled btn-primary">Enkel favorieten tonen</a>

